body{
    background-color: lightgreen;
}

header{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;  
    color: darkgreen; 
}

footer{
    position: absolute;
    bottom: 0;
}

h2{
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 7px;
    color: darkgreen;
    margin-top: 35px;
}

p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

img{
    float: right;
}