body{
    background-color:lightgreen;
    margin-left: 15px;
}

header{
    text-align: center;
    font-size: 30px;   
}

article{
    margin-top: 15px;
}

h2{
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 7px;
}

p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img{
    float: right;
}

footer{
    position: absolute;
    bottom: 0;
}